body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3D%2522purple%2Bbackground%2Bdesign%2522&psig=AOvVaw2eP6yncI88HRmXExLogXh0&ust=1701185149760000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCNCb2da-5IIDFQAAAAAdAAAAABAD");
}
.justine-h1{
    color: aqua;
    text-align: center;
}
.justine-h2{
    color: fuchsia;
}